# Stripe (Евро) - банковские карты
VITE_STRIPE_PUBLISHABLE_KEY=pk_test_your_publishable_key_here
VITE_STRIPE_SECRET_KEY=sk_test_your_secret_key_here
VITE_STRIPE_TEST_MODE=true

# RoboKassa (Российские рубли) - СБП, карты РФ
VITE_ROBOKASSA_MERCHANT_LOGIN=your_merchant_login_here
VITE_ROBOKASSA_PASSWORD1=your_password_1_here
VITE_ROBOKASSA_PASSWORD2=your_password_2_here
VITE_ROBOKASSA_TEST_MODE=true

# NOWPayments (Криптовалюты)
VITE_NOWPAYMENTS_EMAIL=your_nowpayments_email
VITE_NOWPAYMENTS_PASSWORD=your_nowpayments_password 